<div class="container footer">
    <div class="row">
        <div class="col-12 btncontainer pt-3 pb-3">
            <div class="mainbtn" routerLink="" >
                <div class="btn-group">
                    <span class="color4 btn-text">Home</span>
                </div>
                <div class="btnend bg33 color4 btn-text-center"><i class="bi bi-house-door color5"></i></div>
              </div>
              <div class="mainbtn" routerLink="about" >
                  <div class="btn-group">
                      <span class="color4 btn-text">About Me</span>
                  </div>
                  <div class="btnend bg33 color4 btn-text-center"><i class="bi bi-person"></i></div>
                </div>
                <div class="mainbtn">
                    <div class="btn-group">
                        <span class="color4 btn-text">Portifolio</span>
                    </div>
                    <div class="btnend bg33 color4 btn-text-center"><i class="bi bi-gift"></i></div>
                  </div>
                  <div class="mainbtn">
                      <div class="btn-group">
                          <span class="color4 btn-text">Contact</span>
                      </div>
                      <div class="btnend bg33 color4 btn-text-center"><i class="bi bi-envelope"></i></div>
                    </div>
                    <div class="mainbtn">
                        <div class="btn-group">
                            <span class="color4 btn-text">Blog</span>
                        </div>
                        <div class="btnend bg33 color4 btn-text-center"><i class="bi bi-newspaper"></i></div>
                      </div>
        </div>
    </div>
</div>