<div class="container-fluid bg2 h-100 pb-5 ">
    <div class="row">
        <div class="col-12">
            <div class="toptext">
                <h2 class="display-1">RESUME</h2>
                <h2 class="color1 ">ABOUT ME</h2>
            </div>

            <div class="col-md-6 d-block d-md-none rounded text-center" style="border-radius: 100%;">
                <img src="assets/images/face-1.jfif" class="w-50 profileimg" alt="">
            </div>
        </div>
        <div class="col-md-6 p-4">
            <h3 class="color5 p-2 pt-5">PERSONAL INFOS</h3> <br>

            <div class="row">
                <div class="col-6">
                    <small class="color4">First Name: <span class="color5">Clement</span></small>
                </div>
                <div class="col-6">
                    <small class="color4">Last Name: <span class="color5">Iyida</span></small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <small class="color4">Age: <span class="color5">30 Years</span></small>
                </div>
                <div class="col-6">
                    <small class="color4">Country: <span class="color5">Nigeria</span></small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <small class="color4">Freelance: <span class="color5">Available</span></small>
                </div>
                <div class="col-6">
                    <small class="color4 ">Address: <span class="color5">Enugu Nigeria</span></small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <small class="color4">Phone: <span class="color5">+2347061888492</span></small>
                </div>
                <div class="col-6">
                    <small class="color4">Email: <span class="color5">iyidaclem@gmail.com</span></small>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <small class="color4">Skype: <span class="color5">+2347061888492</span></small>
                </div>
                <div class="col-6">
                    <small class="color4">Language: <span class="color5">Igbo, English</span></small>
                </div>
            </div> <br> <br>
            <div class="row">
                <div class="col">
                    <div class="mainbtn text-light" routerLink="about" style="cursor: pointer">
                        <div class="btn-group">
                            <span class="text-center " style="white-space: nowrap; padding-left:-0px">MY CV</span>
                        </div>
                        <div class="btnend bg1 text-center"><i class="bi bi-cloud-download"></i></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row p-5">
                <div class="col-6 figurearea">
                    <h1 class="figure color1 font-weight-bold">12+</h1>
                    <ul>
                        <li>__ </li>
                        <li class="color5"> Years of Experience</li>
                    </ul>
                </div>
                <div class="col-6 figurearea">
                    <h1 class="figure color1 font-weight-bold">12+</h1>
                    <ul>
                        <li>__ </li>
                        <li class="color5"> Projects Completed</li>
                    </ul>
                </div>
                <div class="col-6 figurearea">
                    <h1 class="figure color1 font-weight-bold">12+</h1>
                    <ul>
                        <li>__ </li>
                        <li class="color5"> Happy Customers</li>
                    </ul>
                </div>
                <div class="col-6 figurearea">
                    <h1 class="figure color1 font-weight-bold">12+</h1>
                    <ul>
                        <li>__ </li>
                        <li class="color5"> Certifications Earned</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-12 mb-5 ">
            <h1 class="color5 text-center p-5">MY SKILLS</h1>
            <div class="row">
                <div class="row">
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">HTML</h3>
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">99.9%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">JAVASCRIPT/NODEJS</h3>
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">95%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">TYPESCRIPT</h3>
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">PHP</h3>
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">85%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">PYTHON</h3>
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">99.9%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">C++</h3>
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">95%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">SOLIDITY</h3>
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">LARAVEL</h3>
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">85%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">FLASK</h3>
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">ANGULAR</h3>
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">85%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">WEBJS/ETHERSJS</h3>
                        <div class="progress blue">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">90%</div>
                        </div>
                    </div>
                    <div class="col-md-3 col-6 mb-3">
                        <h3 class="color5 text-center p-2">GIT</h3>
                        <div class="progress yellow">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
                            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
                            <div class="progress-value">85%</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h1 class="color5 text-center p-5">EXPERIENCE & EDUCATION</h1>
                    </div>
                    <div class="col-md-6 ">
                        <div class="exp">
                            <i class="bi bi-gift bg1 color5"></i>
                            <h5 class="color4 bg33 p-1 expdate">2018- 2019</h5>
                            <h5 class="color5">BASIC ICT INSTRUCTOR - <span class="color4">DIGITMONI</span></h5>
                            <p class="color5">
                                A fintech agency delivering innovative digital solutions in the financial
                                sector and developing human capital through our tech skill training,
                                among other services and products. DigitMoni was founded in 2017 by
                                Ndubuisi Dominion to provide world-class digital solutions. Our services
                                include tech skill training and tech project execution.
                                F
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="exp">
                            <i class="bi bi-gift bg1 color5"></i>
                            <h5 class="color4 bg33 p-1 expdate">2020- 2021</h5>
                            <h5 class="color5">SOFTWARE DEVELOPER - <span class="color4">DIGITMONI</span></h5>
                            <p class="color5">I worked as Software Developer at Digitmoni where I built several applications
                                to meet company's goals. built telegram bots for user managmements, decentralized payment gateway etc.
                            </p>

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="exp">
                            <i class="bi bi-gift bg1 color5"></i>
                            <h5 class="color4 bg33 p-1 expdate">2021</h5>
                            <h5 class="color5">BOOTCAMP - <span class="color4">BINANCE</span></h5>
                            <p class="color5">In Q1 2021, Binance hosted an eight-week masterclass where they
                                trained over 1000 blockchain developers in Africa, allocated a $1 million
                                fund for African developers and hosted a live demo showcasing newly
                                built blockchain-based products in action, including staking and farming
                                projects, algorithm-based stablecoins, automated market makers,
                                insurance projects and much more.
                                What I achieved: <br>
                                ● Learnt the fundamentals of blockchain development and web3
                                Dapp development
                                </p>

                        </div>
                    </div>
                    <div class="col-md-6 ">
                        <div class="exp">
                            <i class="bi bi-gift bg1 color5"></i>
                            <h5 class="color4 bg33 p-1 expdate">2021- 2022</h5>
                            <h5 class="color5">CTO - <span class="color4">DAST</span></h5>
                            <p class="color5">DAST is blockchain insfrastructure 
                                 infrastructure of provable trust for all.  We  built up a security technology layer that helps users to secure and recover their digital assets for their family members or next of kin in case of unforeseen circumstances like loss of life. 
                                It will serve as a secured recovery technology for assets of loved ones.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
