/* colors */
.color1 {
    color:#FFB400;
}
.color2 {
    color:#020202;
}
.color3 {
    color:#111111;
}
.color4 {
    color:#b1aaaa;
}
.color5 {
    color:#FFFFFF;
}

/* bgs */
/* You can add global styles to this file, and also import other style files */
.bg1 {
    background-color:#FFB400;
}
.bg2 {
    background-color:#020202;
}
.bg3 {
    background-color:#111111;
}
.bg33 {
    background-color:#252323;
}
.bg4 {
    background-color:#DDDDDD;
}
.bg5 {
    background-color:#FFFFFF;
}

.mainbtn{
     display: flex;
      flex-direction: row;
      font-weight: 900;
      text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    .btn-group{
        // visibility: hidden;
        height: 50px;
        width: 150px;
        align-items: center;
        justify-items: center;
        border: 1px solid #FFB400;
        padding: 6px;
        padding-left: 10%;
        padding-right: 50px;
        border-radius: 15px;  
    }

    .btnend{
        display: flex;
        flex-direction: row;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        align-items: center;
        justify-items: center;
        justify-content: center;
        margin-left: -30px;
        z-index: 1;
       
    }
    &:hover{
        .btnend, .btn-group{
        background-color: #FFB400;
        transition: 0.3s;
        visibility: visible;
        border-radius: 15px;
        }
    }     
    
}

.profileimg{
    border-radius: 15px;
    position: relative;
    background: linear-gradient(to right, red,#FFB400);
    padding: 3px;
    @media(max-width:767px) {
       border-radius: 100%;
        
    }
}