<div class="container-fluid pb-5">
    <div class="row">
        <div class="col-md-12 bg2 homebg p-5" >
            <div class="container">
                <div class="row">
                    <div class="col-md-6 bentbg bg1 d-none d-md-block" ></div>
                    <div class="col-md-6  text-center">
                        <img src="assets/images/face-1.jfif" class="w-75 profileimg" alt="">
                    </div>
                    <div class="col-md-5">
                        <h1 class="color1 text-uppercase text-center pt-5">I'm Master Clem <br><span class="color5">Software Engineer</span></h1>
                        <p class="color4">Hi, my name is Iyida Clement Ikechukwu.
                            I'm a full stack Software Engineer.                           
                           Self-motivated and like following due processes with ability to meet deadlines.
                            
                            </p>
                          <div class="mainbtn text-light" routerLink="about" style="cursor: pointer">
                            <div class="btn-group">
                                <span class="text-center ">More</span>
                            </div>
                            <div class="btnend bg1 text-center"><i class="bi bi-arrow-right-circle"></i></div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>