.homebg{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    @media(max-width:767px) {
        height: fit-content;
        
    }
}

.bentbg{
    width: 50%;
    position: fixed;
    top:-20%;
    left:-20%;
    height: 200vh;
    transform: rotate(-25deg);
    overflow-x: hidden;

}

h1{
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
}
p{
    line-height: 2em;
}